{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/tables.css')}}"/>
<h1>{{=title}}</h1>

<h5>
{{
if user_alias_name == None:
response.write(T('You have not logged in'))
else:
pass
}}
</h5>
<br>

<table class="table-2">
<th>id</th>
<th>{{=T('Item')}}</th>
<th>{{=T('Location')}}</th>
<th>{{=T('Amount')}}</th>
<th>{{=T('Amount in warehouse')}}</th>
<th>{{=T('Minimum limit in lab')}}</th>
<th>{{=T('Minimum limit in warehouse')}}</th>
<th>{{=T('Item Size')}}</th>

{{for row in list:}}
{{if (row.amount_closed+row.amount_closed3)<row.amount_limit1:}}
<tr style="color:red">
{{else:}}
<tr style="color:black">
{{pass}}
<td>{{=A(row.id, _href=URL(c='inventory', r=request,  f='show', args=row.id))}}</td>
<td style="text-align:left">{{=row.item}}</td>
<td>{{=row.sub_location}}</td>
<td>{{=row.amount_closed}}</td>
<td>{{=row.amount_closed3}}</td>
<td>{{=row.amount_limit1}}</td>
<td>{{=row.amount_limit3}}</td>
<td>{{=row.unit_size}}</td>
{{pass}}
</tr>
{{pass}}
</table>
<br /><br />
