{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/tables.css')}}"/>
<h2>{{=title}}</h2>
<center>
<table class="table-3">
<tr>
<td id="top">
<div>
{{=table}}
</div>
</td>
<td width=70px></td>
<td>
<table class="table-1">
<tr >
<td>{{=A(IMG(_src=URL('static/images','box_cart.png'), _alt="add"), _href=URL(c='inventory', r=request, f='move', args=record.id))}}</td>
<td>{{=A(T("Add 1 item from warehouse"),_href=URL(c='inventory', r=request, f='move', args=record.id))}}</td>
</tr>
<tr >
<td>{{=A(IMG(_src=URL('static/images','box_closed_add2.png'), _alt="add"), _href=URL(c='inventory', r=request, f='plus', args=record.id))}}</td>
<td>{{=A(T("Add 1 item delivered"),_href=URL(c='inventory', r=request, f='move', args=record.id))}}</td>
</tr>
<tr>
<td>{{=A(IMG(_src=URL('static/images','minus.png'), _alt="remove"), _href=URL(c='inventory', r=request, f='minus', args=record.id))}}</td>
<td>{{=A(T("Remove 1 item from lab"),_href=URL(c='inventory', r=request, f='minus', args=record.id))}}</td>
</tr>
<tr>
<td>{{=A(IMG(_src=URL('static/images','track-plus.png'), _alt="update"), _href=URL(c='inventory', r=request, f='add', args=record.id))}}</td>
<td>{{=A(T("Add 1 item to warehouse"),_href=URL(c='inventory', r=request, f='add', args=record.id))}}</td>
</tr>
<tr>
<td>{{=A(IMG(_src=URL('static/images','shopping_cart.png'), _alt="order"), _href=URL(c='inventory', r=request, f='order', args=record.id))}}</td>
<td>{{=A(T("Order"),_href=URL(c='inventory', r=request, f='order', args=record.id))}}</td>
</tr>
{{if auth.has_membership("manager"):}}
<tr>
<td>{{=A(IMG(_src=URL('static/images','edit.png'), _alt="update"), _href=URL(c='management', r=request, f='update', args=record.id))}}</td>
<td>{{=A(T("Modify"),_href=URL(c='management', r=request, f='update', args=record.id))}}</td>
</tr>
<tr>
<td>{{=A(IMG(_src=URL('static/images','log.png'), _alt="show_log"), _href=URL(c='logs', r=request, f='show_logs', args=record.id))}}</td>
<td>{{=A(T("See logs"),_href=URL(c='logs', r=request, f='show_logs', args=record.id))}}</td>
</tr>
{{if record['amount_closed']==0 and record['amount_closed3']==0:}}
<tr>
<td>{{=A(IMG(_src=URL('static/images','delete.png'), _alt="delete"), _href=URL(c='inventory', r=request, f='delete', args=record.id))}}</td>
<td>{{=A(T("Delete from database"),_href=URL(c='inventory', r=request, f='delete', args=record.id))}}</td>
</tr>
{{pass}}
<!--
<tr>
<td>{{=A(IMG(_src=URL('static/images','log.png'), _alt="order"), _href=URL(c='inventory', r=request, f='log_note', args=record.id))}}</td>
<td>{{=A(T("Add a note to logs"),_href=URL(c='inventory', r=request, f='log_note', args=record.id))}}</td>
</tr>
-->
{{pass}}
{{pass}}
</table>
</td>
</tr>
</table>
</center>
<br><br><br>
