#center {
  text-align: center;
}

#nowrap {
  white-space: nowrap;
}

#top {
  vertical-align: top;
}

#pad-1 {
  padding: 40px;
}

.table-1 {
    table-layout: auto;
    border: solid 1px #000000;
    border-collapse: collapse;
    text-align: center;
    padding: 30px;
}

.table-1 th {
    background-color: #DDDDDD;
    border: solid 1px #000000;
    border-right: solid 1px #000000;
    color: #000000;
    text-align: center;
}

.table-1 td {
    border: solid 1px #000000;
    color: #333;
    padding: 5px;
    text-align: center;
}

.table-1 tr {
    border: solid 1px #000000;
    color: #000000;
}

.table-2 {
    white-space: nowrap;
    table-layout: fixed;
    border: solid 1px #000000;
    border-collapse: collapse;
    text-align: center;
    padding: 3px 3px 3px 3px;
}

.table-2 th {
    white-space: nowrap;
    border: solid 1px #000000;
    text-align: center;
    padding: 10px 3px 10px 3px;
    background-color: #dddddd;
}

.table-2 tr {
    border: solid 1px #000000;
}

.table-2 tr:nth-child(odd) {
    background-color: #eeeeee;
}

.table-2 tr:nth-child(even) {
    background-color: #ffffff;
}

.table-2 td {
    border: solid 1px #000000;
    border-collapse: collapse;
    text-align: center;
}


.table-3 table, tr, td {
    border: solid 0px #000000;
    margin: 20px;
}

.table-4 {
    table-layout: auto;
    border: solid 1px #000000;
    border-collapse: collapse;
    text-align: center;
    padding: 30px;
}

.table-4 th {
    background-color: #DDDDDD;
    border: solid 1px #000000;
    border-right: solid 1px #000000;
    color: #000000;
    text-align: center;
}

.table-4 td {
    border: solid 1px #000000;
    color: #333;
    height: 40px;
    padding: 10px;
    vertical-align: middle;
    text-align: center;
}

.table-4 tr {
    border: solid 1px #000000;
    color: #000000;
}

