{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('static', 'css/tables.css')}}"/>
{{=form}}
<hr />

<br />

<table class="table-1">
<th>{{=T('Date')}}</th>
<th>{{=T('User')}}</th>
<th>{{=T('ItemID')}}</th>
<th>{{=T('Item Name')}}</th>
<th>{{=T('Details')}}</th>

{{def reformat(text): return XML(text.replace('--', '<br />'))}}

{{for row in rows:}}
<tr>
<td>{{=row.event_time}}</td>
<td>{{=row.username}}</td>
<td>{{=row.itemid}}</td>
<td>{{=row.item}}</td>
<td>{{=reformat(row.event_details)}}</td>
</tr>
{{pass}}
</table>
<br />
<br />
